<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('./partials/head', {title: title}); -%>
</head>

<body>
  <header>
    <%- include('./partials/header.ejs', {user: user}); -%>
  </header>
  <div class="container">
    <% if (user) {%>
    <h1><%= user.username %></h1>
    <form action="/be-member" method="post">
      <p><Label for="title">Secret Code</Label></p>
      <p><input type="text" name="codeVIP" id="codeVIPId"></p>
      <button class="btn btn-primary">Create Post</button>
    </form>
      <% if(errors) { %>
        <ul>
          <% errors.forEach(function(err){ %>
          <li>
            <%= err.msg %> 
          </li>
          <% }); %> 
        </ul>
      <% } %>   
    <% } else { %>
        <%- include('./partials/log-in.ejs'); -%>
      <%}%>
  </div>
  <footer>
    <%- include('./partials/footer.ejs'); -%>
  </footer>
</body>

</html>