<!DOCTYPE html>
<html>

<head>
  <%- include('./partials/head', {title: title}); -%>
</head>

<body>
  <header>
    <%- include('./partials/header.ejs', {user: user}); -%>
  </header>
  <div class="container">
    <% if (user) {%>
    <h1>WELCOME BACK <%= user.username %>
    </h1>
    <form action="/create-post" method="post">
      <p><Label for="title">Title</Label></p>
      <p><input type="text" name="title" id="titleId" value = <%= publication === 'undefined' ? '': publication.title%> ></p>
      <p><Label for="content">Content</Label></p>
      <p><input type="textarea" name="content" id="contentId" value= <%= publication === 'undefined' ? '': publication.content%>></p>
      <input type="hidden" name="userID" value= <%= user._id%> >
      <button class="btn btn-primary">Create Post</button>
    </form>
      <% if(errors) { %>
        <ul>
          <% errors.forEach(function(err){ %>
          <li>
            <%= err.msg %> 
          </li>
          <% }); %> 
        </ul>
      <% } %>   
    <% } else { %>
      <h1>Please log in</h1>
      <form action="/log-in" method="POST">
        <p><label for="username">Username</label></p>
        <p><input name="username" placeholder="username" type="text" /></p>
        <p><label for="password">Password</label></p>
        <p><input name="password" type="password" /></p>
        <button class="btn btn-primary">Log In</button>
      </form>
      <%}%>
  </div>
  <footer>
    <%- include('./partials/footer.ejs'); -%>
  </footer>
</body>

</html>