<!DOCTYPE html>
<html>
<head>
  <%- include('./partials/head', {title: title}); -%>
</head>
<body>
  <header>
    <%- include('./partials/header.ejs', {user: user}); -%>
  </header>
  <div class="container">
    <% if (user) {%>
    <h1 class="text-center p-2"><%= user.username %> </h1>
    <a href="/create-post" class="btn border add bg-dark">+</a>
    <% } else { %>
        <%- include('./partials/log-in.ejs'); -%>
      <%}%>
  </div>
  <div class="container div-pub">
    <% if (user) {%>
      <% list_Publication.forEach(function(list){ %>
        <div class=" m-4 p-4 text-center pub">
          <h3><%= list.title %></h3>
          <p><%= list.content %></p>          
          <% if(user.isMember || user.isAdmin) { %>
            <p>By: <%= list.user.username %></p>
          <%}%>
          <% if(user.isAdmin == true) { %>
            <a class="btn btn-danger" href= <%= "/delete/" +  list._id %> >Delete Post</a>
          <%}%>
        </div>
      <% }); %> 
    <% } %>
  </div>
  <footer class="bg-dark">
    <%- include('./partials/footer.ejs'); -%>
  </footer>
</body>
</html>