<!DOCTYPE html>
<html>
<head>
  <%- include('./partials/head', {title: title}); -%>
</head>
<body>
  <header>
    <%- include('./partials/header.ejs', {user: user}); -%>
  </header>
  <div class="container">
    <% if (user) {%>
    <h1>WELCOME BACK <%= user.username %> </h1>
    <p>STATUS Member: <%= user.isMember %></p>
    <p>STATUS Admin: <%= user.isAdmin %></p>
    <a href="/create-post" class="btn border add">+</a>
    <% } else { %>
        <%- include('./partials/log-in.ejs'); -%>
      <%}%>
  </div>
  <div>
    <% if (user) {%>
      <% list_Publication.forEach(function(list){ %>
        <div class="card m-4">
          <h1><%= list.title %></h1>
          <p><%= list.content %></p>
          <p>By: <%= list.user.username %></p>
        </div>
      <% }); %> 
    <% } %>
  </div>
  <footer>
    <%- include('./partials/footer.ejs'); -%>
  </footer>
</body>
</html>